*{
  background-color: lightblue;
}

#board{
  position: absolute;
  left:350px;
  top:150px;
  width: 400px;
  height:400px;
  margin:0;
  padding:0;
}

.board-line{
  background-color: black;
  margin: 0;
  padding: 0;
}

#horizontal-line-one{
  position: absolute;
  margin-top:133px;
  width: 400px;
  height:10px;
  border-radius: 2px;
}

#horizontal-line-two{
  position: absolute;
  margin-top:266px;
  width: 400px;
  height:10px;
  border-radius: 2px;
}

#vertical-line-one{
  position: absolute;
  margin-left:133px;
  width: 10px;
  height:400px;
  border-radius: 2px;
}

#vertical-line-two{
  position: absolute;
  margin-left:266px;
  width: 10px;
  height:400px;
  border-radius:2px;
}

#turn-text{
  position: absolute;
  font-weight: bold;
  font-family: serif;
  font-size: 25px;
  left: 450px;
  top: 600px;
}

.x-elements{
  background-color: transparent;
  position: absolute;
}

.line-one{
  background-color: black;
  margin-left: 0px;
  margin-top: 65px;
  width: 130px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 10px;
}

.line-two{
  background-color: black;
  margin-left: 5px;
  margin-top: -10px;
  width: 130px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 10px;
}

.circle-elements{
  position: absolute;
  border-style: solid;
  width: 50px;
  border-radius: 100px;
  border-color: black;
  border-width: thick;

}
