*{
  background-color: lightblue;
}

#board{
  position: absolute;
  left:350px;
  top:150px;
  width: 400px;
  height:400px;
  margin:0;
  padding:0;
}

.board-line{
  background-color: black;
  margin: 0;
  padding: 0;
}

#horizontal-line-one{
  position: absolute;
  margin-top:133px;
  width: 400px;
  height:10px;
  border-radius: 2px;
}

#horizontal-line-two{
  position: absolute;
  margin-top:266px;
  width: 400px;
  height:10px;
  border-radius: 2px;
}

#vertical-line-one{
  position: absolute;
  margin-left:133px;
  width: 10px;
  height:400px;
  border-radius: 2px;
}

#vertical-line-two{
  position: absolute;
  margin-left:266px;
  width: 10px;
  height:400px;
  border-radius:2px;
}
