*{
  background-color: lightblue;
}

#board{
  position: absolute;
  left:500px;
  top:150px;
  width: 400px;
  height:400px;
  margin:0;
  padding:0;
}

.board-line{
  background-color: black;
  margin: 0;
  padding: 0;
}

#horizontal-line-one{
  width: 400px;
  height:10px;
  border-radius: 2px;
}

#horizontal-line-two{
  margin-top:100px;
  width: 400px;
  height:10px;
  border-radius: 2px;
}
